:root {
  --font-base: 'Geist', sans-serif;
  --font-title: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;

  --font-size-base: 1rem;

  --font-weight-title: 600;
  --tracking-title: -0.02em;

  --font-width-base: 100;
}

/* SOFT */
[data-style='soft'] {
  --font-base: 'Geist', sans-serif;
  --font-title: 'Geist', sans-serif;

  --font-weight-title: 600;
  --tracking-title: -0.02em;

  --font-width-base: 100;
}

/* BOLD */
[data-style='bold'] {
  --font-base: 'Hanken Grotesk', sans-serif;
  --font-title: 'DM Serif Display', serif;

  --font-weight-title: 600;
  --tracking-title: 0.01em;

  --font-width-base: 100;
}

/* SHARP */
[data-style='sharp'] {
  --font-base: 'Archivo', sans-serif;
  --font-title: 'Space Grotesk', sans-serif;

  --font-weight-title: 600;
  --tracking-title: -0.01em;

  --font-width-base: 103;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  font-variation-settings: 'wdth' var(--font-width-base);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  letter-spacing: var(--tracking-title);
}
